NEXT_PUBLIC_SUPABASE_URL=https://gjhzuxxexzptldpilfzz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdqaHp1eHhleHpwdGxkcGlsZnp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzMDUwNDMsImV4cCI6MjA5OTg4MTA0M30.mwqZoedxse5Qh2Xf6X9ur-6mjP57m3S_IN4n99IlDCY
